/*
for media queries only
 */

@media screen and (max-width: 320px) {
  :root {
    --button-line-heigh: 25px;
    --button-heigh: 60px;
    --button-fz: 22px;
    --button-ect-fz: 30px;
    --section-padding: 10px;
  }
  .wrapper {
    max-width: 320px;
    .calculator {
      .calc-header{
        padding: var(--section-padding);
        .expression, .result {
          max-width: 280px;
        }
      }
      .calc-body {
        padding: var(--section-padding);
        grid-template-columns: repeat(4, 70px);
      }
      .history {
        padding: var(--section-padding);
        grid-template-columns: 280px;
      }
    }
  }
}