/*
enter css
 */

:root {
  -webkit-tap-highlight-color: transparent; //removes blue highlighting

  --line-heigh: 46px;
  --small-line-height: 36px;
  --time-line-height: 26px;

  --section-padding: 26px;

  --bg-color: #f6f6f6;
  //--dark-bg-color: #404040;

  --color: #666666;
  //--dark-color: #b0b0b0;

  --slider-color: #efefef;;
  //--dark-slider-color: #323232;

  --circle-color: #fff;
  //--dark-circle-color: #666;

  --extension-text-color: #b8b8b8;

  --btn-dark-shadow: rgba(0,0,0,0.2);
  --btn-light-shadow: rgba(255,255,255,1);
  --pink-color: #e91e63;
  --yellow-color: #ffc72e;
  --green-color: #27eca4;
  --purple-color: #9f1ee9;


  /*
  button
  */
  --button-line-heigh: 40px;
  --button-heigh: 60px;
  --button-number-fz:26px;
  --button-ect-fz: 36px;
}


body {

  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
  color: var(--color);
}
.wrapper {
  display: flex;
  justify-content: center;
  .calculator {
    transition: 0.3s all ease;
    color: var(--color);
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 2px 18px 3px rgba(0,0,0,0.2);
    background-color: var(--bg-color);
    position: relative;
    .calc-header {
      padding: var(--section-padding);
      .zz {
        display: flex;
        justify-content: space-between;
        align-items: start;
        height: var(--line-heigh);
        .switch-button {
          outline: none;
          cursor: pointer;
          .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 30px;
          }
          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
          .slider {
            position: absolute;
            cursor: pointer;
            line-height: 30px;
            padding: 0 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--slider-color);
            box-shadow: 0 0 1px var(--light-color);
          }
          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 2px;
            bottom: 2px;
            background-color: var(--circle-color);
          }
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
          .slider.round {
            border-radius: 30px;
          }
          .slider.round:before {
            border-radius: 50%;
          }
        }
        .history-button {
          cursor: pointer;
          border: none;
          outline: none;
          background-color: transparent;
          color: var(--color);
          line-height: 26px;
          font-size: 26px;
          &:active {
            opacity: 0.7;
          }
        }
      }
      .expression {
        height: var(--small-line-height);
        font-size: var(--small-line-height);
        line-height: var(--small-line-height);
        text-align: right;
        max-width: 320px;
        overflow: hidden;
        color: var(--extension-text-color);
        //border: none;
        //background-color: var(--bg-color); todo
        // input
      }
      .result {
        height: var(--line-heigh);
        font-size: var(--line-heigh);
        line-height: var(--line-heigh);
        text-align: right;
        max-width: 320px;
        overflow: hidden;
        font-weight: 900;
      }
    }
    hr {
      box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.1);
      color: transparent;
      background-color: transparent;
      border: none;
      height: 0px;
    }
    .calc-body {
      padding: var(--section-padding);
      display: grid;
      grid-template-columns: repeat(4, 80px);
      opacity: 1;
      //transition: 0.7s opacity  ease-in-out;
      &.animate {
        opacity: 0;
      }
      .calc-button {
        cursor: pointer;
        color: var(--color);
        box-sizing: border-box;
        font-size: var(--button-number-fz);
        font-weight: bold;
        margin: 10px;
        width: var(--button-heigh);
        height: var(--button-heigh);
        text-align: center;
        line-height: var(--button-line-heigh);
        background-color: var(--bg-color);
        box-shadow: 1px 1px 1px 1px var(--btn-dark-shadow), -1px -1px 1px 1px var(--btn-light-shadow);
        outline: none;
        border: none;
        background-color: transparent;
        border-radius: 13px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-self: center;
        &:active {
          box-shadow: 1px 1px 1px 1px var(--btn-light-shadow), -1px -1px 1px 1px  var(--btn-dark-shadow);
        }
        &.color-green {
          color: var(--green-color);
          font-size: var(--button-ect-fz);
          line-height: var(--button-ect-fz);
        }
        &.color-pink {
          color: var(--pink-color);
          font-size: var(--button-ect-fz);
          line-height: var(--button-ect-fz);
        }
        &.color-pink-reverse {
          background-color: var(--pink-color);
          color: #fff;
          font-size: var(--button-ect-fz);
          line-height: var(--button-ect-fz);
        }
        &.color-purple {
          color: var(--purple-color);
          font-size: 10px;
          line-height: 10px;
        }
        &.color-yellow {
          color: var(--yellow-color);
          font-size: var(--button-ect-fz);
          line-height: var(--button-ect-fz);
        }
        sup, i {
          pointer-events: none;
        }
      }
      .disabled {
        pointer-events: none;
        opacity: 0.3;
      }
    }
    .history {
      //transition: 0.4s all ease-in-out;
      padding: var(--section-padding);
      position: absolute;
      top:100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr;
      background-color: var(--bg-color);
      z-index: 10;
      opacity: 0.2;
      &.animate {
        top: calc(var(--section-padding) + var(--line-heigh));
        opacity: 1;
      }
      .expression-history {
        font-size: var(--small-line-height);
        line-height: var(--small-line-height);
        text-align: right;
        max-width: 320px;
        overflow: hidden;
        color: var(--extension-text-color);
        overflow-wrap: break-word;
      }
      .result-history {
        font-size: var(--line-heigh);
        line-height: var(--line-heigh);
        text-align: right;
        max-width: 320px;
        overflow: hidden;
        font-weight: 900;
        overflow-wrap: break-word;
      }
      .history-time {
        height: var(--time-line-height);
        font-size: var(--time-line-height);
        line-height: var(--time-line-height);
        text-align: left;
        max-width: 320px;
        overflow: hidden;
        color: var(--color);
      }
    }
  }
}


@import "media";
